*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    justify-content: space-between;
    background-image: url("img/hackBG.jpg");
    background-size: contain;
    background-position-x: 75px;
    overflow: hidden;
}
#menu-pw{
    width: 100%;
    height: 70px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#barr{
    width: 1.1%;
    height: 100vh;
    background-color: white;
}
#container-1,
#container-3{
    width: 30.33%;
    height: 100vh;
}
#container-2{
    width: 37%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
#container-pw{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#container-2::-webkit-scrollbar {
    width: 0px;
    background: #F4F4F4;
}
#container-3::-webkit-scrollbar {
    width: 0px;
    background: #F4F4F4;
}
#container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/binario.gif);
}
#container-1 div{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

#container-3{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
#valor{
    display: flex;
    justify-content: center;
    align-self: center;
}
#container-pw-1,
#container-pw-2,
#container-pw-3,
#container-pw-4,
#container-pw-5,
#container-pw-6,
#container-pw-7,
#container-pw-8{
    width: 100%;
    background-image: url("img/acoBG.jpg");
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}
#container-pw-7 img{
    border-radius: 100%;
}
#pw-1:hover,
#pw-2:hover,
#pw-3:hover,
#pw-4:hover,
#pw-5:hover,
#pw-6:hover,
#pw-7:hover,
#pw-8:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#container-pw-1 img,
#container-pw-2 img,
#container-pw-3 img,
#container-pw-4 img,
#container-pw-5 img,
#container-pw-6 img,
#container-pw-7 img,
#container-pw-8 img{
    margin-right: 1px;
}
#pw-1 img,
#pw-2 img,
#pw-3 img,
#pw-4 img,
#pw-5 img,
#pw-6 img,
#pw-7 img,
#pw-8 img{
    width: 30%;
    padding: 10px;
}
#pw-1,
#pw-2,
#pw-3,
#pw-4,
#pw-5,
#pw-6,
#pw-7,
#pw-8{
    width: 100%;
    height: 100px;
    background-color: #29472b;
    text-align: center;
    display: flex;
    text-align: center;
    cursor: pointer;
    margin: 2px 4px;
}
#pw-7 img{
    border-radius: 100%;
}
#pw-text{
    padding: 10px;
    width: 100%;
}
.blur{
    filter: grayscale(90);
}
#main-click{
    margin-top: 20px;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 0;
    background-color: aqua;
    outline-style: none;
    cursor: pointer;
}
#main-click:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.notSelected{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

#menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#menu button{
    width: 100%;
    height: 100%;
    border: 0;
}
#options,
#info{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2px;
}
#options button,
#info button{
    margin-bottom: 5px;
    border-radius: 10px;
    outline-style: none;
    background-color: #2b2e2b;
    color: white;
}
#info button:hover,
#options button:hover{
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#container-options{
    margin: auto;
    padding: 15px;
    width: 95%;
    height: 100%;
    background-color: #29472b;
    text-align: center;
    border-radius: 20px;
}
#debugger-button{
    width: 200px;
    height: 50px;
    outline-style: none;
}
#container-info{
    margin: auto;
    padding: 15px;
    width: 95%;
    height: 100%;
    background-color: #29472b;
    text-align: center;
    border-radius: 20px;
}
#close-options,
#close-info{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    position: absolute;
    right: 34%;
    outline-style: none;
}
#close-options:hover,
#close-info:hover{
    box-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.hidden{
    visibility: hidden;
    display: none;
}